<div class="container-fluid h-100">
    <div class="row align-items-center h-100">
        <div class="col-sm-12 offset-md-4 col-md-4">
        <div class="card">
            <div class="card-header text-center bg-secondary">
                <a routerLink="/">                
                    <img src="assets/logo.svg" alt="Logo" class="w-25">
                </a>
            </div>
            <div class="card-body">
                <h4 class="card-title pb-3">{{ title }}</h4>
                <div *ngIf="hasError" [ngSwitch]="hasError" class="alert alert-danger">
                    <p *ngSwitchCase="'EMAIL_EXISTS'" class="m-0">The email address is already in use by another account.</p>
                    <p *ngSwitchCase="'OPERATION_NOT_ALLOWED'" class="m-0">Password sign-in is disabled for this project.</p>
                    <p *ngSwitchCase="'TOO_MANY_ATTEMPTS_TRY_LATER'" class="m-0">We have blocked all requests from this device due to unusual activity. Try again later.</p>
                    <p *ngSwitchDefault class="m-0">We have encountered an error. Please try again or contact support if the problem persists.</p>
                </div>
                <div *ngIf="hasSuccess" [ngSwitch]="hasSuccess" class="alert alert-success">
                    <p *ngSwitchCase="'REGISTERED_USER'" class="m-0"><strong>Registration successful!</strong> We have sent a confirmation link to your inbox. Please click the link to complete the registration.</p>
                    <p *ngSwitchDefault class="m-0"><strong>Success!</strong> The operation was successful.</p>
                </div>
                <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)">
                    <div *ngIf="case === 'signup'">
                        <div class="form-group">
                            <label for="firstname">Firstname</label>
                            <input 
                                ngModel 
                                type="text" 
                                name="firstname" 
                                id="firstname" 
                                class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="lastname">Lastname</label>
                            <input 
                                ngModel 
                                type="text" 
                                name="lastname" 
                                id="lastname" 
                                class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input 
                            ngModel
                            #email="ngModel" 
                            required
                            email
                            type="email" 
                            name="email" 
                            id="email" 
                            class="form-control"
                            [ngClass]="{ 'is-invalid': email.invalid && (email.touched || authForm.submitted) }">
                        <div class="invalid-feedback">Email is required.</div>
                    </div>
                    <div *ngIf="case !== 'forgot-password'" class="form-group">
                        <label for="password">Password</label>
                        <input 
                            ngModel
                            required
                            minlength="8"
                            #password="ngModel" 
                            type="password" 
                            name="password" 
                            id="password" 
                            class="form-control"
                            [ngClass]="{ 'is-invalid': password.invalid && (password.touched || authForm.submitted) }">
                            <div *ngIf="password.invalid && password.errors.required" class="invalid-feedback">Password is required.</div>
                            <div *ngIf="password.invalid && password.errors.minlength && !password.errors.required" class="invalid-feedback">Minimum of 8 characters.</div>
                    </div>
                    <div *ngIf="case === 'signup'" class="form-group">
                        <div class="custom-control custom-checkbox">
                            <input 
                                ngModel 
                                required
                                #terms="ngModel"
                                class="custom-control-input" 
                                name="terms" 
                                type="checkbox" 
                                value="" 
                                id="terms"
                                [ngClass]="{ 'is-invalid': terms.invalid && (terms.touched || authForm.submitted ) }">
                            <label class="custom-control-label" for="terms">
                                I agree to the <a href="#">terms and conditions</a>.
                            </label>
                            <div class="invalid-feedback">You need to accept the terms.</div>
                        </div>
                    </div>
                    <app-loading-button btnClass="btn btn-block btn-primary" btnType="submit" [isSpinning]="isLoading">{{ button }}</app-loading-button>
                </form>
            </div>
            <div class="card-footer">
                <div class="d-flex justify-content-between">
                    <a *ngIf="case !== 'forgot-password'" routerLink="/auth/forgot-password">Forgot password</a>
                    <a *ngIf="case !== 'signup'" routerLink="/auth/signup">Sign up</a>
                    <a *ngIf="case !== 'login'" routerLink="/auth/login">Login</a>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>