<form #newPasswordForm="ngForm" (ngSubmit)="onNewPassword(newPasswordForm)">
    <div class="form-group">
        <label for="password">New password</label>
        <input 
            ngModel
            required
            minlength="8"
            #password="ngModel" 
            type="password" 
            name="password" 
            id="password" 
            class="form-control"
            [ngClass]="{ 'is-invalid': password.invalid && (password.touched || newPasswordForm.submitted) }">
        <div *ngIf="password.invalid && password.errors.required" class="invalid-feedback">Password is required.</div>
        <div *ngIf="password.invalid && password.errors.minlength && !password.errors.required" class="invalid-feedback">Minimum of 8 characters.</div>
    </div>
    <app-loading-button btnClass="btn btn-block btn-primary" btnType="submit" [isSpinning]="isLoading">Reset password</app-loading-button>
</form>
