<app-auth-form-shell>
    <h4 class="card-title pb-3">Forgot password</h4>
    <div *ngIf="errorMessage" class="alert alert-danger">
        <p class="m-0">{{ errorMessage }}</p>
    </div>
    <div *ngIf="success" class="alert alert-success">
        <p class="m-0">Password reset link sent to your inbox. <a role="button" class="alert-link" (click)="success = false" style="cursor: pointer">Send reset link again</a></p>
    </div>
    <form *ngIf="!success" #forgotPasswordForm="ngForm" (ngSubmit)="onForgotPassword(forgotPasswordForm)">
        <div class="form-group">
            <label for="email">Email</label>
            <input 
                ngModel
                #email="ngModel" 
                required
                email
                type="email" 
                name="email" 
                id="email" 
                class="form-control"
                [ngClass]="{ 'is-invalid': email.invalid && (email.touched || forgotPasswordForm.submitted) }">
            <div class="invalid-feedback">Email is required.</div>
        </div>
        <app-loading-button btnClass="btn btn-block btn-primary" btnType="submit" [isSpinning]="isLoading">Send reset link</app-loading-button>
    </form>
</app-auth-form-shell>