<ngb-alert *ngIf="success" type="success" (close)="success = false">Your password was changed successfully and your new password is now valid.</ngb-alert>
<ngb-alert *ngIf="errorMessage" type="danger" (close)="errorMessage = null">{{ errorMessage }}</ngb-alert>
<form #newPasswordForm="ngForm" (ngSubmit)="onSubmit(newPasswordForm)">
    <div class="form-group">
        <input 
            ngModel 
            #newPasswordField="ngModel" 
            type="password" name="newPassword" 
            class="form-control" 
            placeholder="Type new password..." 
            required 
            minlength="8"
            [ngClass]="{ 'is-invalid': newPasswordField.invalid && (newPasswordField.touched || newPasswordForm.submitted) }">
        <div class="invalid-feedback">Password must be minimum 8 characters.</div>
    </div>
    <app-loading-button btnClass="btn btn-secondary" btnType="submit" [isSpinning]="isLoading">Change password</app-loading-button>
</form>
